
html,body{
    margin: 0;
    padding: 0;
    height: 100%;

}
.container{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.box{
    background-color: aquamarine;
    align-items: center;
    text-align: center;
    padding: 30px 60px;
   border: 3px solid black;
   border-radius: 20px;
}
#inputtext{
    height: 150px;
    width: 250px;
    border: 2px solid black;
}
h2{
    font-size: 30px;
}
p{
    font-size: 30px;
}